# This is a basic workflow to help you get started with Actions

name: Check Markdown Links

on: push

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: gaurav-nelson/github-action-markdown-link-check@v1
      with:
        folder-path: _posts
        config-file: mlc_config.json
